# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

.vscode
jsconfig.json
.env
cypress/integration/examples

# NPM packages folder.
node_modules/

# Brunch output folder.
public/

# coverage files
.nyc_output

.tern-port
