{
  "env": {
    "development": {
      "presets": ["env", "react"],
      "plugins": [
        "inline-dotenv",
        "transform-object-rest-spread",
        "transform-export-extensions",
        ["emotion", { "sourceMap": true, "autoLabel": true }]
      ]
    },
    "production": {
      "presets": ["env", "react"],
      "plugins": [
        "inline-dotenv",
        "transform-object-rest-spread",
        "transform-export-extensions",
        ["emotion", { "sourceMap": true, "autoLabel": true }]
      ]
    }
  }
}
